*{
    margin: 0px;
}

li{
    list-style-type: none;
}

#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 400px;
    background-color: yellow;
    align-items: center;
    justify-content: space-between;

}

.purple{
    background-color: purple;
}

.item{
    height: 100px;
    width: 100px;
}

li{
    text-decoration: none;
}

